#login {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 100px;
}

.login__login-button {
    margin-top: 20px;
}

#login h3 {
    color: darkgrey;
    font-size: smaller;
}

.login__invite-to-register {
    padding-bottom: 10px;
    display: block;
}