.receipt {
    padding-bottom: 50px;
}

.receipt-header__my-spending-money, .receipt-header__total-money {
    float: right;
    font-size: 1.5em;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    vertical-align: top;
}

.receipt-header__total {
    padding-top: 10px;
}

.receipt-header__spending>div:after {
    content: "";
    clear: both;
    display: table;
}

.receipt-list__no-receipts {
    margin-top: 10px;
    margin-bottom: 30px;
}

.receipt-item {
    position: relative;
}

.receipt-item__actions {
    position: absolute;
    display: flex;
    right: 20px;
    align-items: center;
}
.receipt-item-actions__action {
    padding: 10px
}