.header {
    background: #888888;
}

.header > h1 {
    margin-left: 20%;
    vertical-align: middle;
    width: auto;
    float: left;
}

.header__user-profile {
    float: right;
    margin-right: 20px;
    display: inline;
    width: auto;
}

.header__user-avatar {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid whitesmoke;
    border-radius: 25px;
background-size: contain;
}