#left-menu {
    height: 100%;
    width: 200px;
    /*position: absolute;*/
    /*margin-right: 200px;*/
}

#left-menu ul {
    list-style: none;
    height: 100%;
    padding-left: 0;
    margin-left: 0;
    background-color: #888888;
}

#left-menu li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: #29aac0;
    display: inline-block;
    border: 1px solid #8486ff;
    font-weight: bold;
    cursor: pointer;
}

#left-menu li a {
    display: block;
    height: 100%;
    width: 100%;
}

#left-menu li:hover {
    background-color: #31bbd1;
}

#left-menu .left-menu__active-li {
    background-color: #31bbd1;
}